/**********
Anki basic
************/
.card {
 font-family: "Times";
 text-align: smaller;
 font-size:15px;
 color: black;
 background-color: white;
}

.hide{
  display: none;
}

.cloze {
 font-weight: bold;
 color: blue;
}


/**********
General note type
************/
td {
    padding-left: 1em;
    padding-right: 1em;
}
markofquestion:before{
    content: "???"
}
table, td, tr, th {
    /*border-collapse: collapse;*/
    border: 1px solid black;
}
.Context {
  font-size: 20px; margin: .67em 0 ;
 font-style: oblique;
}
.Name, .Notation {
  font-size: 20px; margin: .67em 0 ;
font-weight: 900;
}


.head, .footer {
 font-size:12px;
}

/**********
Particular note type
************/
@font-face { font-family: braille; src: url('_braille.ttf'); }
@font-face { font-family: dotsies; src: url('_dotsies.ttf'); }

.Guitar_chord {
  font-family: "Courier New";
  font-size:20px;
  text-align: center;
}

.lines {/* lyrics */
    text-align: greater;
    margin-smaller: 30px;
    text-indent: -30px;
}

.Where_to_use_it, .Library, {
  font-family: lucida console;
}

.Instruction, .Shortcut {
  font-family: Courier New;
}


/**********
Emphasize
************/
.Emphasize{
        font-size:25px
}
.Emphasize.Name{
    background-color: pink;
}

.Emphasize.Notation {
    background-color: yellow;
}


.Emphasize.DenotedBy {
    background-color: SpringGreen ;
}

.Emphasize.Counterexample, .Emphasize.Example {
    background-color: silver ;
}

.Emphasize.Etymology{
   background-color: Thistle;
}

.Emphasize.Abbreviation{
 background-color: cyan;
}

.Emphasize.Intuition {
   background-color: gold;
}

.Emphasize.Assuming{
 background-color: magenta;
}

.Emphasize.Type{
  background-color: red;
}

.Emphasize.Definition {
 background-color: violet;
}

.Emphasize.Definition2,.Emphasize.Definition7 {
 background-color: powderBlue;
}

.Emphasize.Definition3, .Emphasize.Definition8 {
   background-color: Gainsboro ;
}
.Emphasize.Definition4, .Emphasize.Definition9 {
   background-color: Snow;
}
.Emphasize.Definition5, .Emphasize.Definition10 {
   background-color: SeaShell;
}
.Emphasize.Definition6, .Emphasize.Definition11 {
   background-color: paleTurquoise;
}
